@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* custom */
q{
	font-style: italic;
}

#dedication{
	margin-top: 20vh;
}

#dedication > header{
	font-style: italic;
}

#dedication > header + *{
	margin-top: 1em;
}
/* end of custom */
